<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Прием</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</head>

<body>
<div th:replace="~{main_menu :: navigation}"></div>

<div class="container">
  <h1 class="my-4">Добавление услуги к приему</h1>
  <form action="#" th:action="@{/appointments/addProcedure}" th:object="${appointmentProcedure}" method="post">
    <input type="hidden" th:field="*{appointmentId}" />
    <table class="table table-bordered">
      <thead class="thead-light">
      <tr>
        <th>#</th>
        <th style="width: 60%;">Название</th>
        <th style="width: 20%;">Цена</th>
        <th> </th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="procedure, iterStat : ${procedures}">
        <td th:text="${iterStat.count}"></td>
        <td th:text="${procedure.name}"></td>
        <td th:text="${procedure.price}"></td>
        <td class="text-nowrap text-center">
          <label>
            <input type="radio" th:field="*{procedureId}" th:value="${procedure.id}"/>
          </label>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="text-danger mb-4" th:if="${#fields.hasErrors('procedureId')}" th:errors="*{procedureId}"></div>
    <button type="submit" class="btn btn-outline-success">Сохранить</button>
    <button type="button" class="btn btn-outline-secondary" th:onclick="'window.location.href=\'/appointments/details/' + ${appointmentProcedure.appointmentId} + '\';'">
      Отмена
    </button>
  </form>
</div>

</body>
</html>
