<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Услуги</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</head>

<body>
<div th:replace="~{main_menu :: navigation}"></div>

<div class="container">
    <h1 class="my-4">Услуги</h1>
    <a href="/procedures/create" class="btn btn-outline-success mb-3">Добавить</a>
    <a href="/procedures/report" class="btn btn-outline-primary mb-3">Скачать отчет по всем услугам</a>
    <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th>#</th>
            <th style="width: 80%;">Название</th>
            <th style="width: 20%;">Цена, ₽</th>
            <th class="text-right" style="white-space: nowrap;"> </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="procedure, iterStat : ${procedures}">
            <td th:text="${iterStat.count}"></td>
            <td th:text="${procedure.name}"></td>
            <td th:text="${procedure.price}"></td>
            <td class="text-nowrap text-center">
<!--                <a class="btn btn-outline-info" th:href="@{/procedures/details/{id}(id=${procedure.id})}">Подробнее</a>-->
                <a class="btn btn-outline-primary" th:href="@{/procedures/update/{id}(id=${procedure.id})}">Редактировать</a>
                <a class="btn btn-outline-danger" th:href="@{/procedures/delete/{id}(id=${procedure.id})}">Удалить</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
