<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Подробнее</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</head>

<body>
<div th:replace="~{main_menu :: navigation}"></div>

<div class="container">
    <h1 class="my-4">Сотрудник</h1>
    <div class="row">
        <!-- Левая колонка для фотографии -->
        <div class="col-md-4">
            <img width="200" th:src="|data:image/jpeg;base64,${filePhoto}|"/>
        </div>
        <!-- Правая колонка для информации о сотруднике -->
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <p th:if="${isAdmin}"><strong>Роль в системе:</strong> <span>Админ</span></p>
                    <p th:if="${!isAdmin}"><strong>Роль в системе:</strong> <span>Оператор</span></p>
                    <p><strong>ФИО:</strong> <span th:text="${employee.user.getFIO()}"></span></p>
                    <p><strong>Должность:</strong> <span th:text="${employee.position.name}"></span></p>
                    <p><strong>Дата рождения:</strong> <span th:text="${#temporals.format(employee.user.birthday, 'dd.MM.yyyy')}"></span></p>
                    <p><strong>Номер телефона:</strong> <span th:text="${employee.user.phone}"></span></p>
                    <p><strong>Email:</strong> <span th:text="${employee.user.email}"></span></p>
                    <p><strong>Описание:</strong></p>
                    <p><span th:text="${employee.description}"></span></p>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-4">
        <a class="btn btn-outline-primary" th:href="@{/employees/update/{id}(id=${employee.id})}">Редактировать</a>
        <a class="btn btn-outline-primary" th:href="@{/employees/updatePhoto/{id}(id=${employee.id})}">Редактировать фото</a>
        <a th:if="${isAdmin}" class="btn btn-outline-danger" th:href="@{/employees/changeRole/{id}(id=${employee.id})}">Разжаловать до оператора</a>
        <a th:if="${!isAdmin}" class="btn btn-outline-success" th:href="@{/employees/changeRole/{id}(id=${employee.id})}">Повысить до админа</a>
        <a class="btn btn-outline-danger" th:href="@{/employees/delete/{id}(id=${employee.id})}">Удалить</a>
    </div>

    <h2 class="my-4">Расписание (предстоящие записи)</h2>
    <a th:href="@{/schedules/create(employeeId=${employee.id})}" class="btn btn-outline-success mb-3">Добавить свободную запись</a>
    <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th>#</th>
            <th style="width: 20%;">Дата</th>
            <th style="width: 40%;">Клиент</th>
            <th style="width: 40%;">Питомец</th>
            <th> </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="schedule, iterStat : ${employee.schedules}">
            <td th:text="${iterStat.count}"></td>
            <td th:text="${#temporals.format(schedule.date, 'dd.MM.yyyy HH:mm')}"></td>
            <td th:text="${schedule.animal != null ? schedule.animal.client.user.getFIO() : ''}"></td>
            <td th:text="${schedule.animal != null ? schedule.animal.name : ''}"></td>
            <td class="text-nowrap text-center">
                <a class="btn btn-outline-danger" th:href="@{/schedules/delete/{id}(id=${schedule.id})}">Удалить</a>
            </td>
        </tr>
        </tbody>
    </table>

    <h2 class="my-4">Приемы</h2>
    <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th>#</th>
            <th style="width: 20%;">Дата</th>
            <th style="width: 40%;">Клиент</th>
            <th style="width: 40%;">Питомец</th>
            <th> </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="appointment, iterStat : ${employee.appointments}">
            <td th:text="${iterStat.count}"></td>
            <td th:text="${#temporals.format(appointment.date, 'dd.MM.yyyy HH:mm')}"></td>
            <td th:text="${appointment.animal.client.user.getFIO()}"></td>
            <td th:text="${appointment.animal.name}"></td>
            <td class="text-nowrap text-center">
                <a class="btn btn-outline-info" th:href="@{/appointments/details/{id}(id=${appointment.id})}">Подробнее</a>
                <a class="btn btn-outline-danger" th:href="@{/appointments/delete/{id}(id=${appointment.id})}">Удалить</a>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="mt-4">
        <a href="/employees/all">Назад к списку сотрудников</a>
    </div>
</div>
</body>
</html>
