<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Изменение</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</head>

<body>
<div th:replace="~{main_menu :: navigation}"></div>

<div class="container">
  <h1 class="my-4">Изменение фото сотрудника</h1>
  <form method="post" th:action="@{'/employees/updatePhoto/' + ${employeeId}}" enctype="multipart/form-data">
    <div class="form-group mb-3">
      <input type="file" name="image" accept="image/*" class="form-control-file">
    </div>
    <button type="submit" class="btn btn-outline-success">Сохранить</button>
    <button type="button" class="btn btn-outline-secondary" th:onclick="'window.location.href=\'/employees/details/' + ${employeeId} + '\';'">Отмена</button>
  </form>
</div>

</body>
</html>
