<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Главная</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</head>

<body>
<div th:replace="~{main_menu :: navigation}"></div>

<div class="container">
  <h1 class="my-4">Добро пожаловать!</h1>
  <div>
    <p th:if="${isAdmin}"><strong>Роль в системе:</strong> <span>Админ</span></p>
    <p th:if="${!isAdmin}"><strong>Роль в системе:</strong> <span>Оператор</span></p>
    <p><strong>ФИО:</strong> <span th:text="${employee.user.getFIO()}"></span></p>
    <p><strong>Должность:</strong> <span th:text="${employee.position.name}"></span></p>
  </div>
  <h2 class="my-4">Расписание (предстоящие записи)</h2>
  <table class="table table-bordered">
    <thead class="thead-light">
    <tr>
      <th>#</th>
      <th style="width: 20%;">Дата</th>
      <th style="width: 40%;">Клиент</th>
      <th style="width: 40%;">Питомец</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="schedule, iterStat : ${employee.schedules}">
      <td th:text="${iterStat.count}"></td>
      <td th:text="${#temporals.format(schedule.date, 'dd.MM.yyyy HH:mm')}"></td>
      <td th:text="${schedule.animal != null ? schedule.animal.client.user.getFIO() : ''}"></td>
      <td th:text="${schedule.animal != null ? schedule.animal.name : ''}"></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>